[2017-05-18 09:07] mayerwin opened #2 "Yahoo changed its URL and now requires crumb parameter"
Are you already working on a fix for this:
http://stackoverflow.com/questions/44015838/cant-download-data-from-yahoo-finance-using-quantmod-in-r

This repo has implemented something to work around it:
https://github.com/joshuaulrich/quantmod/commits/157_yahoo_502

[2017-05-19 07:06] salmonthinlion commented on #2
@mayerwin , thanks for your notification! It may take some time to study and implement the changes, it will be committed once i have completed.

[2017-05-19 12:16] #2 closed

[2017-05-19 16:50] mayerwin commented on #2
Thanks for the fast commit, it works for a first request, however the second fails with throwing an exception: "Value cannot be null.\r\nParameter name: Crumb is empty!"

`   at YahooFinanceApi.Yahoo.<GetResponseStreamAsync>d__13.MoveNext()`

[2017-05-20 07:38] salmonthinlion commented on #2
Oops, it seems yahoo returns empty crumb if there's already a session with the client rather than creating a new session.

Maybe a cache of the cookie/ HTTP client is needed for the case, but it may create problem when using multiple thread. Anyways, thanks for the test. I need more time to dig deep to the problem.

[2017-05-20 16:55] bobby68 opened #3 "Exception for corrupted data"
Unfortunately some of the data seems to got corrupted by Yahoo.  If I download CSV file manually using the browser, corrupted data lines show as "yyyy-MM-dd,null,null,null,null,null,nulll", and they cause the formatting exceptions and failure in YahooFinanceApi. For example, this happened to me with symbols VAW and FSESX. Could it be possible to just place nulls in the affected list entries, to mi

[2017-05-20 18:09] salmonthinlion commented on #2
Hi @mayerwin , I have added cache for the web client to prevent empty crumb when doing second or later requests, locking mechanism is also added to ensure thread-safety.

Please help to test if the committed code is working for 2nd times onwards and in multithread environment, thanks for your help!

[2017-05-20 18:35] #3 closed

[2017-05-20 18:41] salmonthinlion commented on #3
Since the corrupted data lines are not usable and do not contains any information, i have added codes to skip all these corrupted lines in the commit, please see if the library works again, thanks.

[2017-05-21 02:30] mayerwin commented on #2
Hi, thanks, can you update the package on nuget?

[2017-05-21 08:59] salmonthinlion commented on #2
Updated

[2017-05-21 12:16] bobby68 commented on #3
Works well, thank you for a quick response.

[2017-05-21 13:32] mayerwin commented on #2
ok, so I am not getting 502 errors anymore, however I tried multi-threading and got some exceptions:

[code]

Here is the test code used:
[code]

[2017-05-22 02:16] salmonthinlion commented on #2
Thanks for the test! I need some time to figure out the multithread issue. For the time being, please use the api in single-thread environment, thanks!

[2017-05-24 10:03] salmonthinlion commented on #2
It seems the cached client changes some of its internal state when calling the web url, lock is used for each web call for temporary fix, may improve the implementation when time is available.

[2017-05-31 03:18] mayerwin commented on #2
I am getting the following error since yesterday: "Request to https://finance.yahoo.com/d/quotes.csv?s=MCD&f=ohgl1v failed with status code 301 (Redirect)."

It is redirected to: 301: Permanent redirect to http://download.finance.yahoo.com/d/quotes.csv?s=MCD&f=ohgl1v (and works in the browser)

Can you update the domain (the fix seems simple)?

[2017-05-31 05:01] salmonthinlion commented on #2
The redirect exception only happens when the project is targeting the old .NET framework, I'm not sure if it is a problem from the package Flurl or httpclient. Anyways, the fix is commited & nuget package is updated, please update your version accordingly, thanks

[2017-06-01 03:57] mayerwin commented on #2
Done, it works again, thanks.

[2017-07-05 09:44] lppkarl opened #5 "Makes parser CultureInvariant"
Refer to: https://github.com/lppkarl/Trady/issues/5

[2017-07-06 06:32] #5 closed

[2017-07-13 03:53] mayerwin opened #6 "401 (Unauthorized) error on Azure"
I am getting the following error on Azure:
`Flurl.Http.FlurlHttpException: Request to https://query1.finance.yahoo.com/v7/finance/download/MCD?period1=1436745600&period2=1499817600&interval=1d&events=history&crumb= failed with status code 401 (Unauthorized). at Flurl.Http.Configuration.FlurlMessageHandler.d__1.MoveNext() in C:\projects\flurl\src\Flurl.Http.Shared\Configuration\FlurlMessageHandler.

[2017-07-13 12:42] lppkarl commented on #6
@mayerwin the unauthorised exception is thrown sometimes because yahoo does not include a cookie occasionally and no crumb is generated. There's a similar issue for quantmod https://github.com/joshuaulrich/quantmod/commit/d54e593c9663611e9d718532b4201edc83b0bb62 .To solve it, I will implement a retry logic similar to quantmod in these few days, it will be updated later, thanks :)

[2017-07-14 04:48] mayerwin commented on #6
Noted, I'll look forward to seeing the fix, thanks.

[2017-07-14 06:54] delvier commented on #6
Hello guys, I will just share some of my slim version of flurlClient with repeat logic for generic FlurlHttpException. Maybe you will find it usefull:

`
public class YahooFlurlClient
{
        private static string _crumb;

        private const string QueryUrl = "https://query1.finance.yahoo.com/v7/finance/download";
        private const string CrumbUrl = "https://query1.finance.yahoo.com/v1/te

[2017-07-14 10:45] #6 closed

[2017-07-14 10:53] lppkarl commented on #6
@delvier thanks for the contribution. I have taken some code & idea from your code sample in the commit, look nice to have a factory taken out from the main class :)

@mayerwin i have pushed a new package to nuget, retry/re-establishment is added. It should lower the probability of getting unauthorized error, please help check if it's less prone to throwing unauthorize exception, thanks :)

[2017-07-14 11:55] mayerwin commented on #6
Thanks a lot! It seems to work much better already, I'll let you know if I still encounter issues.

[2017-07-14 13:58] ken88ling opened #7 "Error on History data download"
It's prompt error if I try to pass invalid ticker of stock

[2017-07-14 15:40] ken88ling commented on #7
![capture1](https://user-images.githubusercontent.com/19285908/28219189-aa9e3a2e-68ed-11e7-91af-b32e3f1de5d4.PNG)

Please refer this picture.

[2017-07-14 18:15] delvier commented on #7
@ken88ling What you would expect other than 404 (NotFound) when proceeding with invalid ticker ? Is it bad behavior at all ?

[2017-07-15 03:50] #7 closed

[2017-07-15 04:01] lppkarl commented on #7
@ken88ling, as @delvier has mentioned, we query by substituing the ticker into the url. If we use an invalid ticker, no valid endpoint can be targeted, hence the 404 error. But i agree that the error message is too generic and does not provide useful information to the failure, I have added an exception message especially for the NotFound error, please see if the changes works for you.

[2017-07-17 04:01] ken88ling commented on #7
@delvier @lppkarl  Thank's for your feed back, I don't know why the visual studio is keep warning if I didn't xxx.await(); but after I use the await(), the program will show an error if I give invalid ticker. It's fine if I remove the await().

[2017-07-23 14:43] rafastellato opened #8 "Trying use with .NET 4.6.1"
Hello,

I am trying use this library with .NET framework **4.6.1** but I am getting the error: "**Could not load file or assembly** 'System.Runtime.Serialization.Primitives, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' **or one of its dependencies. The system cannot find the file specified**."

Observations:

- I am trying with console apps and when I try with Console app .NE

[2017-07-23 22:33] rafastellato commented on #8
I just install de package of System.Runtime.Serialization.Primitives and works...
Thanksss :)

[2017-07-23 22:33] #8 closed

[2017-08-13 20:28] ntrous opened #9 "Get List of Available Symbols"
Feature request: Is there any way to get a list of available stock symbols?

[2017-08-14 10:06] lppkarl commented on #9
@ntrous , yahoo does not provide a way to download the ticker list directly, it could only be done by continuous querying from its [lookup site](https://finance.yahoo.com/lookup), I will take a deep look on it. But at the time being, you may use another python lib [here](https://github.com/Benny-/Yahoo-ticker-symbol-downloader) to download the list.

[2017-08-14 10:24] ntrous commented on #9
@lppkarl Thank you!

[2017-08-31 22:21] DonWM opened #10 "Access denied on Yahoo Quote. Have they added a crumb here also?"

[2017-08-31 22:24] DonWM opened #11 "v1.12 doesn't work with 4.7 .net project. Some runtime serialization code not available."
Cannot use v 1.12 in a 4.7 .net project.  Gives a message that some runtime serialization code it not available.

Might have something to do with the Name function in Helper and/or the slimsemaphore

[2017-09-01 07:09] lppkarl commented on #10
@DonWM Yes. This library also get crumb from yahoo in order to work, but sometimes yahoo just fail to return a crumb or a empty crumb, I have implemented a retry logic on this, hopefully to reduce the chance of getting "Access Denied" error

[2017-09-01 07:16] lppkarl commented on #11
@DonWM Is that the "System.Runtime.Serialization.Primitives" missing error? You may refer to #8

Nuget doesn't include this reference when installing this library, and it's only happens to the traditional .net framework project but not .net core project. Manually install the reference should work

[2017-09-01 16:25] DonWM commented on #10
I didn’t see in your code that you use the crumb for the Quote retrieval – only for the historical.  Have you recently added the crumb to the Quote retrieval?

From: Karl Wan [mailto:notifications@github.com]
Sent: Friday, September 1, 2017 12:09 AM
To: lppkarl/YahooFinanceApi <YahooFinanceApi@noreply.github.com>
Cc: DonWM <DonWM@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re: [lpp

[2017-09-01 16:28] DonWM commented on #11
I didn’t see the “System.Runtime.Serialization.Primitives” as a reference to be installed.  Where do I find it?

By the way, thanks for doing all this.  Your code is VERY nice!

Thanks,

Don

From: Karl Wan [mailto:notifications@github.com]
Sent: Friday, September 1, 2017 12:17 AM
To: lppkarl/YahooFinanceApi <YahooFinanceApi@noreply.github.com>
Cc: DonWM <DonWM@comcast.net>; Mention <mention@norep

[2017-09-02 05:19] lppkarl commented on #11
@DonWM Thanks for the praise :) For the "System.Runtime.Serialization.Primitives" package, you can pull it directly from nuget just like what you did with this lib

[2017-09-02 05:38] lppkarl commented on #10
@DonWM as far as i know, quote retrieval does not require a crumb to work. I had opened an empty console project and had tried the quote function of the current version (1.0.12) on nuget, the lib just works. I wonder if it's another issue rather than crumb missing. Maybe you could attach the stack trace for me to further investigate the issue?

[2017-09-04 13:09] IvanBohannon opened #12 "Handling missing historical info"
There are some stocks that were lightly traded in previous years, and on some days, they had zero volume, zero trades.

ex: DRIP -- June 2, 2015.
or YINN for many days in 2015.

Yahoo finance historical prices shows these days as entries with all zeros.

It seems that this library just omits these days, and its difficult to determine in code if missing days are a result of yahoo finance having bad

[2017-09-05 07:02] lppkarl commented on #12
@IvanBohannon thank you for the feedback. Actually, there's a similar question asked in #3, and the solution at that time is to ignore all the invalid entries.

But I think what you are telling is probably a better approach on handling the nulls, it seems we could make it the default behaviour but an optional parameter for ignoring all invalids, and marked it as a breaking change.

In addition, it

[2017-09-05 15:55] IvanBohannon commented on #12
Nullable instead of zeros makes sense, and would let us still have entries for those days - which from a test perspective is useful.  Yahoo chose to returning zeros for those days with no recorded trades, which is confusing.

We might be able to avoid a breaking change if we add a field to indicate if data was invalid, instead of returning zeros or nullables.

I'm fine either way, but leaning towa

[2017-09-06 10:28] lppkarl commented on #12
In fact, the invalid data in csv are empty strings 😃  , so there is error when converting it to decimal, hence the skipping logic.

I agree that it should be less breaking but I think adding a field is too much for each candle. Perhaps we could add an optional flag "leaveZeroIfInvalidRow" in GetHistoricalMethods & default it to false.

In this way, there is no breaking for current user who favors

[2017-09-16 00:49] ntrous commented on #9
@lppkarl hows this one coming along? Just checked out your commit and it looks promising!

[2017-09-16 05:01] lppkarl commented on #9
Hi @ntrous I have implemented the query to the hidden lookup api (thanks to [python lib](https://github.com/Benny-/Yahoo-ticker-symbol-downloader)), and it should works for querying with some search string. E.g. with 'A', you get AAPL, BAC, T (with company name AT&T), etc.

However, I do not have time & have not yet implemented the comparing part, and we may get duplicate items (e.g. AT&T) when qu

[2017-09-19 05:40] mayerwin opened #13 "Update this library and Quandle.NET to use .NET core 2.0?"
Each time I am using this library in a project targeting .NET Framework 4.6.2, it causes a crazy number of references to System.* assemblies to be added. My understanding is that this issue has been solved with .NET core 2.0. Could you look into upgrading YahooFinanceApi (and also Quandle.NET which I see you authored) for better support?

[2017-09-20 04:42] #12 closed

[2017-09-20 04:42] #13 closed

[2017-09-20 05:03] lppkarl commented on #13
@mayerwin the package is updated, please see if it works 😄

[2017-09-20 06:14] mayerwin commented on #13
Thanks for the fast update!

It looks much cleaner, it added 16 Microsoft related references instead of 50 previously.
Now:

[code]

Before:

[code]

I guess this is normal. Hopefully it'll be enough resolve some weird DLL conflicts with System libraries I was encountering.

Thanks again!

[2017-09-20 06:15] mayerwin commented on #13
Just a heads up, Quandle.NET's headline still reads: "A .NET wrapper built on Quandl v3 REST API, based on .NET standard 1.4".

[2017-09-20 07:44] lppkarl commented on #13
@mayerwin oops, I have missed that. Thanks for pointing out, haha 😄

[2017-10-05 13:28] lppkarl commented on #10
This issue has been idled for a month, it will be closed now

[2017-10-05 13:28] #10 closed

[2017-10-05 13:28] lppkarl commented on #11
This issue has been idled for a month, it will be closed now

[2017-10-05 13:28] #11 closed

[2017-10-08 07:44] lppkarl opened #15 "Add TimeZone Support For Historical Apis"

[2017-10-09 11:31] ntrous commented on #15
I'm still having some issues. Running the below line is returning me 2 records

`await Yahoo.GetHistoricalAsync("rxp.ax", new DateTime(2017,10,8), new DateTime(2017,10,9), Period.Daily, timeZone: "AUS Eastern Standard Time");`

But the one for today (2017/10/09) has different values than the Yahoo website and the one for yesterday (2017/10/08) has the correct values for today. However there should

[2017-10-10 05:17] lppkarl commented on #15
@ntrous The result shown on Yahoo's web page does not match with the result shown on Yahoo's csv, thus the incorrect datetime on the lib. The latest version should fix the issue. Please try it to see if it works :)

[2017-10-11 07:40] ntrous commented on #15
Now I'm getting a record for tomorrow, so it seems to have shifted a day in the wrong direction.

[2017-10-11 12:51] dshe commented on #15
I don't think this library should be involved with timezones. I suggest that the date arguments be the caller's responsibility.

[2017-10-12 08:29] ntrous commented on #15
@dshe That's fine, it's just as the caller I have no idea what timezone the data is going off. It seems local time to the exchange is not what yahoo is using. Perhaps they store all their data as UTC?

[2017-10-13 15:55] dshe commented on #15
I believe that the dates sent to Yahoo Finance are interpreted as the number of seconds after Jan 1, 1970 at the particular exchange.

I have made some modifications to my fork. Your feedback would be appreciated:

[https://github.com/dshe/YahooFinanceApi](url)

[2017-10-15 04:37] lppkarl commented on #15
@ntrous , @dshe has mentioned it correctly, yahoo get their datetime from number of seconds from 1970/1/1 00:00:00 UTC.

However, the result shown on the site involves timezone, and may not be exactly the same as in csv version which the library is parsing from.

For instance, on web, if I am querying from 2016/1/1 to 2016/1/2, the query datetime would be recognized as 2016/1/1 (your timezone) to

[2017-10-15 19:14] ntrous commented on #15
How about @dshe creates an overload for those functions and you run both versions for a period of time? Mark the current method as Deprecated and that way existing users of the lib can leave it as is, until they migrate their code.

[2017-10-16 13:56] dshe commented on #15
I did some further testing and now believe that my date calculations were incorrect. I have made changes and revised my pull request.

I suggest you pre-release a version 2.0 with the breaking changes.

[2017-10-18 04:00] lppkarl commented on #15
@dshe Thank you for your PR, I need some time to review the code, i will release the pre-release to nuget once i have completed 😄

[2017-10-18 08:10] lppkarl commented on #15
@ntrous I have just pushed the beta version to nuget, please update it accordingly & help testing it, thanks :)

[2017-10-18 09:38] dshe commented on #15
@lppkarl Thank you. I updated my fork and it seems fine.

I don't think there is any value in using Matt Johnson's TZConvert.GetTimeZoneInfo("Eastern Standard Time"), rather than simply calling System.TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time").

[2017-10-18 09:47] lppkarl commented on #15
@dshe TZConvert is used here because non-Windows platform doesn't use Windows TimeZone Id. For me, as a mac user, the FindSystemTimeZoneById statement simply throws timezone not found exception. The TZConvert is in replacement here to provide abstraction on top of the underlying timezone system (windows/macOS/linux, etc) so that i do not need to worry about the OS of the lib users, hopes you could

[2017-10-18 09:52] dshe opened #17 "Update dependencies"
Request: support the latest versions of the dependencies, particularly Flurl.

[2017-10-18 10:05] dshe commented on #15
@lppkarl Thanks for your explanation. I could be wrong but I think FindSystemTimeZoneById() should work everywhere since it is supported by NetStandard. If it doesn't work on Mac, that would be a bug. Futhermore, Matt Johnson's library itself calls FindSystemTimeZoneById() on line 72 of TZConvert.cs.

[2017-10-18 10:40] lppkarl commented on #15
@dshe you are right that the FindSystemTimeZoneById() itself works on every platform that implements netstandard, but what makes it non-workable is that windows & macOS/linux uses different sets of timezone id to represent the same timezone.

E.g. For windows, you use "Eastern Standard Time" to represent the timezone GMT-5. However, there's nothing called "Eastern Standard Time" in macOS/linux but

[2017-10-18 11:14] ntrous commented on #15
It looks to work better. For whatever reason the yahoo csv file thinks that todays date is yesterdays date.

For instance, if I query RXP.AX on the yahoo website, the most recent record in the csv file is for 17/10/2017 but the numbers line up to the values for today 18/10/2017.

Not a fault of this library obviously, but something I'll have to account for in my application.

[2017-10-18 11:29] dshe commented on #15
@lppkarl You are right. The timezone Ids are not consistent across platforms. So I suggest this:

private static readonly TimeZoneInfo TzEst = TimeZoneInfo
    .GetSystemTimeZones()
    .Where(tz => tz.Id == "Eastern Standard Time" || tz.Id == "America/New_York")
    .SingleOrDefault();

[2017-10-18 13:28] lppkarl commented on #15
@dshe Your implementation is better than mine, just use yours 👍  Would you mind making a PR of it together with what you proposed in another issue (#17)? It would be nice if you could make it 😄

@ntrous If this issue is solved for you, would you mind i close this issue to end the case?

[2017-10-18 14:17] dshe commented on #15
@lppkarl I made a new PR for the timezone issue. But for #17, I was hoping that you could update the dependencies because it would not be easy for me.

[2017-10-18 15:03] dshe commented on #15
@ntrous I see the problem you noted but I am not sure what to do about it. The YahooFinanceApi library just returns the dates it receives from Yahoo.

[2017-10-18 19:07] ntrous commented on #15
Yeh the problem for me is fixed so close the issue. Thanks for all the work guys!

[2017-10-19 03:55] #15 closed

[2017-10-19 06:57] #17 closed

[2017-10-20 08:08] ntrous opened #20 "Query Performance"
Getting historical data takes much longer than getting the historical data through postman. Is there any way of increasing the speed for this?

It is particularly obvious when querying for many symbols.

[2017-10-20 11:12] delvier commented on #20
I don't know postman at all is this tool: [Postman](https://www.getpostman.com/) ?
How much longer it takes ?

What I can notice in my application is that the first query threw Yahoo Api takes a little bit longer (due to fetching cookie & curl) the next request are quite fast. (when working on same process without disposing the previous api context obj so cookie & curl could be reused)

[2017-10-20 11:29] ntrous commented on #20
@delvier Yes that's the Postman im talking about.

Postman request is about 300ms whereas the library is taking anywhere from 500ms to 1second.

Whats the optimum lifetime for a class using this library? I currently use a single class to handle calling this library and that class is a Scoped instance so only lasting for the request. Would it be of greater performance to be a singleton for the life

[2017-10-20 12:01] delvier commented on #20
@ntrous
I wonder how exactly you calling the query. Is it console application or GUI ?
The yahoo client have internal singleton already implemented - it's flurl client obj. which is main caller for all post requests.

I believe your postman query have already Curl within your URI request so it's 1 request, whereas the Yahoo have to obtain that Cookie&Curl for the first accessed query.

Well I beli

[2017-10-20 12:06] ntrous commented on #20
@delvier I'm using this library for a website where i'm doing some complex calculations and when there are many Symbols to lookup each query taking 500ms to 1sec is starting to add up a lot. Even when running them async it's taking some time.

I may have to take a look at the source code myself and see if I can perform any optimisations.

[2017-10-20 12:20] delvier commented on #20
@ntrous
Strange that each query takes the same in case of web application.
I'm newbie to web application but maybe someone can clear it out.

I'm able to query 1000 symbols within 1 minute. (which is fast enough for my needs)
Each query ask for 2 years of historical data.
Using my WPF desktop application and default parallel approach.

[2017-10-20 12:39] dshe commented on #20
I just submitted a pull request which should improve historical data retrieval performance:
[https://github.com/dshe/YahooFinanceApi/tree/dev](https://github.com/dshe/YahooFinanceApi/tree/dev)

[2017-10-22 06:36] lppkarl commented on #20
@ntrous @delvier I've merged @dshe works & updated the package on nuget. Please update accordingly & check if there's any problem with it, thank you 😄

[2017-10-29 04:59] ntrous commented on #20
Is this fix in the latest 2.0.0 version on nuget?

[2017-10-29 05:34] dshe commented on #20
Yes, the latest code is in the latest nuget package, version 2.0.0.

[2017-10-29 19:27] ntrous commented on #20
It definitely looks to be a bit quicker. an operation I'm running that takes roughly 8 seconds is now taking 7 seconds, so that's something!

[2017-11-02 03:37] dennislwy opened #23 "Sorry, Unable to process request at this time -- error 999"
Yahoo seems terminated their free api service

Flurl.Http.FlurlHttpException occurred
  HResult=0x80131500
  Message=GET https://download.finance.yahoo.com/d/quotes.csv?s=AAPL%2BGOOG&f=l1ohgp failed with status code 999 (Request denied).
Response body:
<html><head><title>Yahoo! - 999 Unable to process request at this time -- error 999</title></head><body>Sorry, Unable to process request at this ti

[2017-11-02 06:27] dotnetshadow commented on #23
@dennislwy I can confirm that I'm also getting this issue, hopefully there is a way around this

[2017-11-02 06:58] ntrous commented on #23
I'm also getting the issue

[2017-11-02 22:29] delvier commented on #23
yahoo coment with:
"It has come to our attention that this service is being used in violation of the Yahoo Terms of Service. As such, the service is being discontinued. For all future markets and equities data research, please refer to finance.yahoo.com."

[2017-11-02 23:10] delvier commented on #23
@dennislwy What query type you call to produce this GET URI  ?

I checked the historical api, and the URI generated for a call is like that:

https://query1.finance.yahoo.com/v7/finance/download/JUNO?period1=1488949200&period2=1490673600&interval=1d&events=history&crumb=j1WuKmwg9Nz

And this endpoint works perfectly fine.

[2017-11-04 04:06] lppkarl commented on #20
@ntrous if the issue is solved, would you mind me to close the issue?

[2017-11-04 04:15] lppkarl commented on #23
@dennislwy Thanks for your notice! It seems Yahoo has changed the mechanism again, I need some time to find a solution of it. If anyone has any fix or discovered something, please also comment here 😄

[2017-11-05 03:56] DonWM commented on #11
Karl,

I attempted to upgrade to v2.0 from v1.12 and it wouldn’t allow update with my 4.7 .net target vs. 4.6.1 target even though you said it should work for 4.6.1 or above.

I also tried to download and load the YahooFinanceApi solution and it had errors.  It said it needed the netstandard v2.0 in the YahooFinanceApi project but I saw the reference in that project to only to v1.1.0 and not v2.0.

[2017-11-05 04:17] lppkarl commented on #11
Hi Don,

You may want try completely uninstall the YahooFinanceApi package & install the latest version again, 4.7 should be ok for net standard 2.0 library: https://github.com/dotnet/announcements/issues/32 <https://github.com/dotnet/announcements/issues/32> .

For the access denied issue, there is an opened issue here: https://github.com/lppkarl/YahooFinanceApi/issues/23 <https://github.com/lppk

[2017-11-05 06:29] DonWM commented on #11
Severity

Code

Description

Project

File

Line

Suppression State

Error

Could not install package 'YahooFinanceApi 2.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

0

Karl,

[2017-11-07 10:02] #20 closed

[2017-11-08 04:13] dshe commented on #23
This url seems to work:
https://query1.finance.yahoo.com/v7/finance/quote?symbols=AAPL

[2017-11-11 19:38] mayerwin commented on #23
@lppkarl have you planned to use https://query1.finance.yahoo.com/v7/finance/quote?symbols=AAPL to fix the issue? I personally just need the last price (delayed is OK).

You can upvote this suggestion to implement api keys to address Yahoo's concerns: https://yahoo.uservoice.com/forums/382977-finance/suggestions/32214556-reinstate-the-stock-quote-api-using-unique-keys
The other thread has been clo

[2017-11-12 12:18] #23 closed

[2017-11-12 12:21] lppkarl commented on #23
@mayerwin, @dshe has completed the task 👍  and I have pushed the new version to nuget as a beta version. The QueryTag will be implemented later for ease to get the quote properties 😄

[2017-11-12 12:23] lppkarl opened #25 "Add QueryTag for easier access of quote's properties"
See #23

[2017-11-16 09:01] lppkarl commented on #25
Related to #24

[2017-11-16 09:01] #25 closed

[2017-11-29 00:20] DonWM opened #26 "System.Net.Http dependency problem?"
Could not load file or assembly 'System.Net.Http, Version=4.1.1.2, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

latest is 4.3.3??

[2017-11-29 17:33] DonWM commented on #26
Solved by adding System.Net.Http to startup project as well as the class project where YahooFinanceApi is used which already had it.

[2017-11-29 17:33] #26 closed

[2018-01-10 02:05] dotnetshadow opened #30 "Is there a limit to amount of symbols you can request at once?"
Great Library, I was wondering if there is a limit to the amount of stocks you can request at once?

The reason I ask is sometimes I request 200 stocks and I get like 197 back, then other times it returns 196

I did another test where I would request 100 symbols, and most of the time I get 99 back and a couple of times it returned 100, all within the space of seconds of testing

I'm just wondering

[2018-01-10 14:12] delvier commented on #30
Unfortunately the Yahoo API is not something that you can blindly relay on.
I mainly using historical API, but the failing reason should be similar.

I found out that there are symbols that keep failing more than others (for instance PPC, MU).
By more I mean: many bad requests (400) or success (200) with empty data (nulls).
I have no idea why, but maybe those requests are collected from different

[2018-01-10 14:20] dotnetshadow commented on #30
@delvier thanks for the information, do you happen to know if there is a rate limit for making calls to the Yahoo API?

[2018-01-10 14:44] delvier commented on #30
@dotnetshadow I don't know to be honest. But I think it's quite high, I could not reach any limits making thousand of requests per minute during intensive testing.

[2018-01-17 10:35] dshe commented on #30
YahooFinanceApi does not impose any limitations on the number of symbols requested. I was able to download 1000 symbols. I noticed that larger number of symbols is limited by URI length.

[2018-01-29 01:17] mayerwin opened #31 "Push the latest version to NuGet"
I can see that the latest version on NuGet is still 2.0.0. Can you push the latest version?

[2018-01-30 23:23] dotnetshadow commented on #30
@dshe cheers thanks for that appreciate it

[2018-01-31 11:37] ntrous commented on #9
Any update on this?

[2018-02-14 11:00] delvier commented on #31
Agree.

[2018-02-19 08:34] #31 closed

[2018-02-19 08:40] lppkarl commented on #31
Sorry for the late response. I've just corrected the version number & pushed it to nuget, the package should be available later on today.

[2018-02-19 08:43] lppkarl commented on #30
@dotnetshadow Is your concern being tackled? I will close the issue if it is the case, thanks!

[2018-02-19 08:46] lppkarl commented on #9
@ntrous I'm sorry to tell you that i'm not making progress in this feature, i'm switching my effort to another project. This feature may not be completed, sorry for that :(

[2018-02-20 05:24] #30 closed

[2018-05-29 13:41] dotnetshadow opened #32 "How to detect when yahoo data returns $0 price error"
Hi there,

This is a question more than a bug, I'm wondering how I would detect when yahoo data is pretty much returning the wrong data, 0 for multiple stocks.

I.e. I recently noticed that I requested 100 stocks and the stock price was 0 on yahoo's end, is there something in the api that tells me if the data being requested isn't right? or do I just have to loop through each stock and check if th

[2018-09-13 06:34] lppkarl commented on #32
@dotnetshadow sorry for the late reply. We just reflect what Yahoo gives us, we don't try to modify the source data. It's better to handle the check logic by yourself.

[2019-01-24 02:23] dotnetshadow opened #33 "Suggestions: Historical Prices"
Hi there,
Great Library

**Allow for historical prices to pass in multiple stocks**
It would be nice to be able to pass in a list of stocks for historical prices. Perhaps your api can then loop through the list and make each call (perhaps in parallel)

**Invalid / NotFound**
Firstly I realise you kinda addressed it with #7
I think from an api point of view, and to be consistent with ` await Yahoo.

[2019-01-25 04:38] dshe commented on #33
Thanks for the suggestion.

You can do it yourself, for example:

// start all tasks
var task1 = Yahoo.GetHistoricalAsync(symbol1, ...);
var task2 = Yahoo.GetHistoricalAsync(symbol2, ...);
var task3 = Yahoo.GetHistoricalAsync(symbol3, ...);

// await tasks
var history1 = await task1;
var history2 = await task2;
var history3 = await task3;

[2019-02-05 11:52] KrisSiegel opened #34 "After Hours Pricing?"
The Yahoo Finance Quote API includes support for after hours pricing via the following fields:
`postMarketChangePercent`
`postMarketTime`
`postMarketPrice`
`postMarketChange`

I noticed in both `Security.cs` and `Fields.cs`, none of these are specified. I also noticed this line (https://github.com/lppkarl/YahooFinanceApi/blob/master/YahooFinanceApi/Security.cs#L16) that states `Secure.cs` is autom

[2019-02-10 05:48] KrisSiegel commented on #34
Fixed 😃

[2019-02-10 05:48] #34 closed

[2019-03-04 16:40] dshe commented on #33
I suggest you try the new beta version.

[2019-03-04 21:07] dotnetshadow commented on #33
Cool ill give it a try, is there support for this now?

[2019-03-06 05:02] dshe commented on #33
If a symbol or field is invalid, null is returned instead of an exception being thrown.

[2019-04-13 03:13] #33 closed

[2019-04-26 15:54] EpEthan opened #36 "How does one get the history data of a stock"
I'm sorry if this is a redundant or stupid question. However, I copied the code given in the `README.md` file for getting historical data for a stock, yet the program did not display any data - rather, it simply terminated after the function `Yahoo.GetHistoricalAsync()`.
Sorry again if this is a stupid question. I'm only a beginner and still trying to get the hang of coding...

This is the code by

[2019-04-26 18:00] dshe commented on #36
I tested your code and it works for me. I suggest you try to determine if
an exception was thrown.

On Fri, Apr 26, 2019 at 11:54 PM EpEthan <notifications@github.com> wrote:

[2019-04-27 09:52] EpEthan commented on #36
Actually, no exception is thrown. That's what is weird: the program terminates without writing anything. Do you have any idea why it's happening?

[2019-04-27 10:16] dshe commented on #36
Can you please try the 3.0.0-beta3 version?

On Sat, Apr 27, 2019 at 5:52 PM EpEthan <notifications@github.com> wrote:

[2019-04-29 12:56] EpEthan commented on #36
Where can I find it?
Again, sorry if these are all dumb questions...

[2019-04-29 13:32] dshe commented on #36
https://www.nuget.org/packages/YahooFinanceApi/3.0.0-beta3

On Mon, Apr 29, 2019 at 8:56 PM EpEthan <notifications@github.com> wrote:

[2019-06-23 22:30] lefig opened #37 "Comment"
A great project and one of the few projects these days that still actually work after Yahoo closed the formal API.

Thank you

Fig

[2019-06-26 14:24] dshe commented on #37
Thank you for your comment.

[2019-07-26 08:57] pilotkid opened #38 "'Yahoo' Does not exist in the current context"
Hello, I am looking at the sample code and I am seeing a reference to Yahoo. However, when I try to run the samples, I get the error 'Yahoo' Does not exist in the current context. I tried using the classes `YahooQuotes` and `YahooHistory` then I get the error that `Symbols` does not exist in the current context.

Where are you getting the Yahoo class?

[2019-07-26 13:56] #37 closed

[2019-07-26 13:58] #36 closed

[2019-07-26 13:59] dshe commented on #38
Can you please try the 3.0.0-beta3 version:

https://www.nuget.org/packages/YahooFinanceApi/3.0.0-beta3

[2019-07-26 19:37] pilotkid commented on #38
That is the version I am running
![image](https://user-images.githubusercontent.com/6385285/61977017-7db7a800-afaa-11e9-937e-16f46a74debc.png)

[2019-07-27 03:31] dshe commented on #38
Have a look at this project which uses YahooFinanceApi:

https://github.com/dshe/YahooXL

On Sat, Jul 27, 2019 at 4:37 AM Marcello Bachechi <notifications@github.com>
wrote:

[2019-07-28 18:27] pilotkid commented on #38
Hello, thank you @dshe, this helped immensely. This is what I was looking for.

    var securities = await new YahooQuotes().GetAsync(SymbolsArray);

[2019-07-28 18:27] #38 closed

[2019-08-09 21:35] jacobdeboer33 opened #39 "how to find datetime of the price received with Yahoo.Symbols request?"
Hi there

I want to use your library to collect intraday historic data about some stocks. But how can I find the DateTime of the price in the data that i'm receiving doing a Yahoo.Symbols request.

Thanks,
Jacob

[2019-10-30 20:18] nobleBean opened #40 "BeforeSplit and Aftersplit mixed up?"
Could there be the possibility that BeforeSplit and AfterSplit are mixed up?

[2019-10-30 20:53] dshe commented on #40
Could you please let me know the security symbol, date and split ratio?

On Wed, Oct 30, 2019 at 9:18 PM nobleBean <notifications@github.com> wrote:

[2019-10-31 16:31] nobleBean commented on #40
For Example APPL on June 09, 2014 1/7 Stock Split. Doesn´t this mean that you got for one stock 7 stocks after the split? Or do I read it wrong?

[2019-12-25 15:03] axelarati opened #41 "Only works with Flurl Http 2.1.0 and Flurl 2.5.2"
When I install the newest version of flurl (2.4.2 flurl.http and 2.8.2 flurl), there is an exception in Yahoo.QueryAsync() where it says that it cannot find the assembly Flurl.Http 2.1.0.

[2019-12-26 15:52] dshe commented on #41
I suggest you try:

https://github.com/dshe/YahooQuotesApi

On Thu, Dec 26, 2019 at 12:03 AM Alex Raita <notifications@github.com>
wrote:

[2020-01-28 12:09] lefig opened #43 "Great work"
Keep up the good work.

And thank you.

Fig

[2020-01-28 16:03] lefig commented on #43
Forget to mention a possible bug with respect to the historical data downloader. I am unable to retrieve data for the current year. The values returned always are limited to end at 31/12/19.

var history = await Yahoo.GetHistoricalAsync(symbol, new DateTime(2016, 1, 1),
                new DateTime(2020, 1, 1), Period.Daily);

I will upgrade and see if this makes a difference.

[2020-04-13 09:12] cshawky opened #45 "YahooFinanceApi not compatible with CsvHelper V15"
Hi
I have just started using this package, but came unstuck today because I had installed CsvHelper 15.0 with exception on
[code]
The exception was:
[code]
I have downgraded the project now to CsvHelper 7.1.1 and the all to GetHistoricalAsync works.

The code changes (comment out code) I made in order to downgrade from CsvHelper 15.0 online documented examples were:
[code]
[code]
I hope the above

[2020-04-14 12:39] cshawky commented on #40
investor.apple.com: "Apple's stock has split four times since the company went public. The stock split on a 7-for-1 basis on June 9, 2014 and split on a 2-for-1 basis on February 28, 2005, June 21, 2000, and June 16, 1987."
So on that basis I would divide price by 7. i.e. 1/7

[2020-05-06 20:14] IvanDuhov opened #46 "Dividend Date"
Hello guys,

What exactly the Dividend Date should return?

When I get the Dividend Date for MSFT, it returns this: "1591833600".

Thanks for your great work,

Looking forward to answering from you

[2020-07-01 10:33] shargon commented on #9
Any update about this, i want to use it with IBEX35

[2020-09-19 21:56] cipher9 commented on #46
DividendDate is a Unix timestamp which is the number of seconds elapsed minus leap seconds since 1 January 1970.

The static DateTimeOffset.FromUnixTimeSeconds method converts DividendDate to DateTime format.

Here is an example:
Console.WriteLine($"Dividend Date: {DateTimeOffset.FromUnixTimeSeconds(msft[Field.DividendDate])}");

[2020-11-08 14:20] emoreau99 opened #47 "Exchange rate?"
Hi. Really nice to be able to get stock quotes.

Any way to get the exchange rate for some currencies like USD-to-CAD?

[2020-11-08 16:33] #46 closed

[2020-11-11 17:14] emoreau99 commented on #47
Hey. You can ignore this request. The library as it is today works just fine for Exchange rates and even indices. Just need to pass the correct ticker!

[2020-11-11 17:14] #47 closed

[2021-03-07 11:54] lucastagnitta opened #48 "DividendDate issue"
Hi there,
quick question. DividendDate is wrong even after converting it from unix.
let's make an example. If I call symbol "LAMR", the right ex-dividend date is 18-03-2021 while YahooFinanci API returns the long value 1617148800 equals to 30-03-2021 after  FromUnixTimeMilliseconds NodaTime conversion.
Where I am wrong?
Many Thks for your help
Regards
LUCA

[2021-03-12 12:25] jjbrunton opened #49 "Empty dictionary?"
I'm using the following:

Yahoo.Symbols("AAPL", "TSLA", "AMC").Fields(Field.Symbol, Field.RegularMarketPrice).QueryAsync()

But randomly each of these will have empty RegularMarketPrice values causing a dictionary exception.

[2021-03-12 12:32] jjbrunton commented on #49
'The given key 'RegularMarketPrice' was not present in the dictionary.'

[2021-05-07 03:50] libu1129 opened #50 "stock split before after data is always zero"
symbol = DOV

[2021-05-07 04:17] libu1129 commented on #50
solution

internal static SplitTick ToSplitTick(string[] row)

var split = row[1].Split('/');
=>
var split = row[1].Split(':');

[2021-05-13 18:57] sebduu commented on #36
Hello everybody,

I have tested exactly the same code as EpEthan, in C# or vb.net but I always have this exception :
"Exception : Could not convert '2016-01-04,25.652500,26.342501,25.500000,26.337500,24.323219,270597600' to DateTime."
Do you know why ?

Thank you

[2021-05-15 17:36] sebduu commented on #36
Hello everybody,

Nobody have an idea about my problem ?
At the beginning I have :
`Option Strict On

Imports YahooFinanceApi
Imports System.IO
Imports System.Threading.Tasks
Imports System.Collections.Generic
Imports System`

And my sub is ;
`Private Async Sub Button1_Click(sender As Object, e As EventArgs) Handles Button1.Click

        Dim dateDebut, dateFin As String
        dateDebut = "2021/

[2021-05-15 18:45] dshe commented on #36
Would you please try:

[2021-05-15 18:49] dshe commented on #50
I suggest you try: https://github.com/dshe/YahooQuotesApi

[2021-05-15 18:50] dshe commented on #49
I suggest you try: https://github.com/dshe/YahooQuotesApi

[2021-05-15 18:50] dshe commented on #48
I suggest you try: https://github.com/dshe/YahooQuotesApi

[2021-05-15 18:50] dshe commented on #45
I suggest you try: https://github.com/dshe/YahooQuotesApi

[2021-05-16 15:41] sebduu commented on #36
ok thank you I will have a look but I would have preferred to understand my mistakes

[2021-05-18 18:53] sebduu commented on #36
Problem solved after uninstall and install again all packages!

[2021-06-25 13:58] Dropper7856 opened #51 "Can I retrieve historical data by hour?"
Hi,

I would like to retrieve the historical data but by hour and not by day

I thank you in advance

[2022-04-24 11:58] Ricky-G commented on #50
@dshe does your api support stock splits and company buyouts etc?

[2022-04-27 10:20] dshe commented on #50
dividends and splits are supported

[2022-04-28 21:31] lucastagnitta opened #52 "Exception: Failure to create client"
Hi there,

I have always successfully used YahooFinanceApi. Today I am getting the following exception using "GetHistoricalAsync": Exception: Failure to create client. Could you kindly tell me what I can do to resolve the exception?

Many Thks for your help
Regards
![error](https://user-images.githubusercontent.com/2866789/165849107-8ccd4ea1-483f-4637-91bd-40bfee2b5898.png)

LUCA

[2022-04-29 01:39] joeng03 commented on #52
I also faced this issue. I think YahooFinance changed their stuff recently

[2022-04-29 03:51] dshe commented on #52
I suggest you try: https://github.com/dshe/YahooQuotesApi

[2022-04-29 10:03] sebduu commented on #52
Same problem for me....

[2022-04-29 10:12] sebduu commented on #52
My program is in VB.net, can I use a C# Api with?

[2022-04-29 10:26] giorgiovaccarino commented on #52
give me this problem:

YahooHistory: failure to reset HttpClient.
   in YahooQuotesApi.YahooHistoryRequester.<CreateHttpClient>d__9.MoveNext() in C:\projects\yahooquotesapi\YahooQuotesApi\History\YahooHistoryRequester.cs: riga 98
   in System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   in System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   in System.Runtime.

[2022-04-29 15:39] lucastagnitta commented on #52
Hi all,
thks a lot
in case YahooFinanceApi doesn't work anymore, I will switch to yfinance

[2022-04-30 17:11] DonWM commented on #52
I had same problem getting history data from Yahoo on both YahooFinanceAPI and YahooQuotesAPI.  Did yahoo change something to break the code?  Did windows have an update that broke the code?

Both work to get current quotes - just not the history.

I can get yahoo history data using python's  pandas_datareader without a problem but I need it from C#,

[2022-04-30 19:40] lucastagnitta commented on #52
honestly speaking, I had no time to deeply investigate the problem yet. I believe it is protocol http client request vs yahoo server but I am not sure. (maybe ... HTTP2 vs HTTP1)
For the time being, I solved the problem using yfinance that is widely supported and used in the community. It is easy to wrap into a C# project without any performance loss.

[2022-05-01 04:12] DonWM commented on #52
For some reason, pandas datareader still works to get Yahoo data.  And I had code to get data from Tiingo though it has data limits.  I normally use Norgate data for most of what I do but need Yahoo for mutual fund data.

From: stagnoman ***@***.***>
Sent: Saturday, April 30, 2022 12:41 PM
To: karlwancl/YahooFinanceApi ***@***.***>
Cc: DonWM ***@***.***>; Comment ***@***.***>
Subject: Re: [karlwan

[2022-05-03 12:30] lucastagnitta commented on #52
Great thks! I modified the dll removing check too, It works perfectly!

[2022-05-03 20:46] sebduu commented on #52
good news ! Can someone explain how to remove the check? I'm not familiar with this kind of programation.

[2022-05-03 21:12] lucastagnitta commented on #52
hi,
1\ open your program in visual studio
2\ go in references, remove  existing YahooFinanceApi.dll,
2\ unzip attached dll. Then in references: right mouse button, add reference and use YahooFinanceApi.dll unzipped
3\ rebuild solution
[YahooFinanceApi.zip](https://github.com/karlwancl/YahooFinanceApi/files/8614307/YahooFinanceApi.zip)
w

[2022-05-04 11:37] lucastagnitta commented on #52
Hi pls disregard the previous dll attached. It doesn't work.
I am working on it.
I will send you late afternoon
Ciao

[2022-05-04 12:52] lucastagnitta commented on #52
Pls replace your old YahooFinanceApi.dll with this attached below.
[YahooFinanceApi.zip](https://github.com/karlwancl/YahooFinanceApi/files/8620456/YahooFinanceApi.zip)

Ciaoooo

[2022-05-04 17:56] DonWM commented on #52
Is this YahooFinanceApi.dll now ok?

Will there be a normal upgrade through NuGet for this - a new version 2.1.3?

There is also an a 3.0.0-beta3 but is has lots of changes and isn’t very compatible with 2.1.2.  I’ve avoided using this so far since it is so different.

Thanks,

Don

From: stagnoman ***@***.***>
Sent: Wednesday, May 4, 2022 5:53 AM
To: karlwancl/YahooFinanceApi ***@***.***>
Cc: Don

[2022-05-07 12:35] Callightman commented on #52
For me it does'nt work after 5-6 querry it responds with 401 error

[2022-05-07 14:21] lucastagnitta commented on #52
The 401 error was also happening with old dll. Yahoo has implemented some kind of time out defense against sever overloading and potential ddos attacks by tracking the number / frequency of requests from a specific ip address.
A 401 error code means the user is unauthorised.

To avoid the error, the method must be synchronous. I use a Thread.Sleep pause of 500 ms,/1s between requests.
Avoid any pa

[2022-05-12 18:22] Callightman commented on #52
Using synchronous calls and 1 second delay has solved the problem.

[2022-05-13 15:42] brutm commented on #52
@lucastagnitta thanks for your dll but i have a problem. Assembly errors with Flurl

[2022-05-13 20:59] lucastagnitta commented on #52
In the past, I got some troubles as well, I am using the following version, installed manually
Flurl 		2.5.2
Flurl.Http	        2.1.0

[2022-05-15 10:03] dshe commented on #52
I suggest you try the new version (5.1): https://github.com/dshe/YahooQuotesApi

[2022-05-16 21:56] kyi87 commented on #52
Could you please show your exact changes in "YahooClientFactory.cs"? Would be very helpful. Thank you!

[2022-05-24 08:30] #50 closed

[2022-05-24 14:29] stagnoman commented on #52
yes, the 401 error was also happening with old dll. Yahoo has implemented some kind of time out defense against sever overloading and potential ddos attacks by tracking the number / frequency of requests from a specific ip address.
A 401 error code means the user is unauthorised.

To avoid the error, the method must be synchronous. I use a Thread.Sleep pause of 500 ms,/1s between requests.
Avoid a

[2022-07-18 08:57] dotnetshadow opened #53 "Is 3.0.0-beta3 the final version?"
Hi there,

Firstly great work with this project. Just wondering if there will be a 3.0.0 release?

Thanks